doctype html5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title= title
		link(type='text/fonts', rel='stylesheet', src="/vendor/Roboto")

		link(rel='stylesheet', href="/stylesheets/controller.css")
		link(rel='stylesheet', href="/vendor/css/bootstrap.min.css")
		script(type='text/javascript', src='/vendor/jquery-min.js')
		script(type='text/javascript', src='/vendor/jquery.tmpl.min.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/vendor/bootstrap.min.js')
		script(type='text/javascript', src='/javascripts/controller.js')

	body
		.container

			.row
				h1 Hack Controller
			.hacks.row
				each hack in hacks
					.col-md-2
						.row
							button.col-xs-2.resetstate.btn.btn-lg(id='#state{hack.id}', onClick='controller.statereset("#{hack.id}");')
								span R
							button.col-xs-8.col-xs-offset-2.hack.btn.btn-lg.btn-primary(id='#{hack.id}', onClick='controller.showhack("#{hack.id}");')
								span #{hack.title}
								span.badge.pull-right(id='#{hack.id}'+'stats')

			.row
				h1 Hack status
			.row
				#phoneicon.col-xs-4
					span.glyphicon.glyphicon-phone
					span#connectedphones
				#killlights.col-xs-4
					button.btn.btn-large.btn-danger
						span NO lights
				#lights.col-xs-4
					button.btn.btn-large.btn-warning
						span lights
				#voting.col-xs-4
					button.btn.btn-large.btn-info
						span voting
